.dish-card{
    width: 21.3vw;
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 1em;

    .dish-details{
        width: 100%;
        padding-bottom: 0.2em;
        >img{
            width: 100%;
            border-radius: 15px 15px 0px 0px; 
        }
        >h5{
            margin-left: 0.7em;
        }
        .dropdown-container{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            >h3{
                margin-left: 0.5em;
                width: 100%;
            }
            .dish-ranking{
                margin-right: 0.4em;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                >label{
                    font-weight: bold;
                }
                >select{
                    width:53%;
                    margin-left: 0.2em;
                    height: 3.5vh;
                }
            }
            
        }
    }
}