.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    height: 50vh;
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.username-section{
    display: flex;
    >label{
        font-size: 1.8vw;
    }
    input{
        width: 11vw;
        height: 2.3vw;
        margin-top: 0.5em;
        margin-left: 1em;
        border-radius: 10px;
        
        &::placeholder{
            font-size: 1.5vw;
            text-align: center;
        }
    }
}

.password-section{
    margin-top: 2em;
    display: flex;
    >label{
        font-size: 1.8vw;
        word-spacing: 0.8em;
    }
    input{
        width: 11vw;
        height: 2.3vw;
        margin-top: 0.5em;
        margin-left: 1em;
        border-radius: 10px;

        &::placeholder{
            font-size: 1.5vw;
            text-align: center;
        }
    }
}

.submit-btn{
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
}

button{
    font-size: 3vw;
    border-radius: 15px;
    width: 40%;
    background-color: bisque;
    border: none;
}

.error{
    margin: 1em 0 0 1em;
    color: red;
}

@media (min-width:700px) and (max-width:1200px) {
    
    
    .login{
        height: 28vw;
        width: 30%;
    }
    
    .username-section{
        margin-top: 1em;
        >label{
            font-size: 2vw;
        }
        input{
            height: 2.8vw;
            margin-top: 0.1em;
            border-radius: 7px;
        }
    }
    
    .password-section{
        >label{
            font-size: 2vw;
        }
        input{
            height: 2.8vw;
            margin-top: 0.1em;
            border-radius: 7px;
        }
    }
    
    .submit-btn{
        margin-top: 2em;
    }
    
    .error{
        font-size: 2vw;
    }
}
